{% extends 'layout.html' %}

{% block content %}
        <section class="header">
            <h1>Menno Willemse</h1>
            <p>Fulltime Salary administrator, freetime python program beginner</p>
            <img src="{{ url_for('static', filename='img/thecatman.jpg') }}" alt="Headshot of my red cat">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>This is sort of me</h2>
            <p>
              When i am not working or programming i am either in the gym preparing for my next 10k run (preparing for more somehow, somewhere), playing videogames or preparing another DND session (yes, also parttime DM )
            </p>
            <p>

            </p>
            <a href="{{ url_for('static', filename='documents/cv english.docx') }}"><i class="far fa-file"></i>Resume</a>
        </section>
{% endblock %}