{% extends 'layout.html' %}

{% block content %}
<section id="form">
    <form action="{{ url_for('add_project') }}" method="POST">
        <div class="columns">
            <div class="col1">
                <div class="form-container">
                    <label for="title">Title</label>
                    <input id="title" name="title" type="text" placeholder="Enter title here">
                </div>
                <fieldset id="descr">
                    <div>
                        <legend>Description</legend>
                        <label for="description" style="display: none;">Description</label>
                        <textarea name="description" id="description" cols="30" rows="10" placeholder="This project is..."></textarea>
                    </div>
                </fieldset>
                <div class="form-container">
                    <label for="skill">Skills practiced</label>
                    <input id="skill" name="skill" type="text" placeholder="skill">
                </div>
            </div>
            <div class="col2">
                <div class="form-container">
                    <label for="url">GitHub link</label>
                    <input id="url" name="url" type="text" placeholder="url please">
                </div>
                <div class="form-container">
                    <label for="alt">Image Alt Text</label>
                    <input id="alt" name="alt" type="text" placeholder="project name">
                </div>
            </div>
        </div>
        <div id="form-buttons">
            <button type="reset">Cancel</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</section>
{% endblock %}