{% extends 'layout.html' %}

{% block content %}
<section id="form">
    <form action="{{ url_for('add_project') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="columns">
            <div class="col1">
                <div class="form-container">    
                    <p>{{ form.title.label }}</p>
                    {{ form.title(class="form-control", placeholder="Enter title here") }}
                </div>
                <div class="form-container">
                    <p>{{ form.description.label }}</p>
                    {{ form.description(class="form-control", placeholder="This project is...") }}
                </div>
                <div class="form-container">
                    <p>{{ form.skill.label }}</p>
                    {{ form.skill(class="form-control", placeholder="Skill...", style="text-align:left;") }}
                </div>
            </div>
            <div class="col2">
                <div class="form-container">
                    <p>{{ form.url.label }}</p>
                    {{ form.url(class="form-control", placeholder="URL please") }}
                </div>
                <div class="form-container">
                    <p>{{ form.url_tag.label }}</p>
                    {{ form.url_tag(class="form-control", placeholder="Project name") }}
                </div>
            </div>
        </div>
        <div id="form-buttons">
            <a href="{{ url_for('index') }}"><button type="button">Cancel</button></a>
            <button type="submit">Submit</button>
        </div>
    </form>
</section>
{% endblock %}
