{% extends 'layout.html' %}

{% block button %} 
    <a class="back-btn" href="{{ url_for('index') }}">
        <i class="fas fa-caret-left"></i>
        Back
    </a>
{% endblock %}

{% block content %}
    <section id="form">
        <form action="{{ url_for('edit', id=project.id) }}" method="POST">
            <div class="columns">
                <div class="col1">
                    <div class="form-container">
                        <label for="title">Name</label>
                        <input id="title" name="title" type="text" placeholder="Project here" value="{{ project.title }}">
                    </div>
                    <fieldset id="descr">
                        <div>
                            <legend>Description</legend>
                            <label for="description" style="display: none;">Description</label>
                            <textarea name="description" id="description" cols="30" rows="10" placeholder="Project description">{{ project.description }}</textarea>
                        </div>
                    </fieldset>
                    <div class="form-container">
                        <label for="skill-list" id="skill-label">Skill</label>
                        <input id="skill" name="skill" type="text" placeholder="skill" value="{{ project.skill }}">
                    </div>
                    <div class="form-container">
                        <label for="github">GitHub</label>
                        <input id="url" name="url" type="text" placeholder="Link to repo" value="{{ project.url }}">
                    </div>
                    <div class="form-container">
                        <label for="alt">Image Alt Text</label>
                        <input id="alt" name="alt" type="text" placeholder="project name" value="{{ project.url_tag }}">
                    </div>                    
                </div>
            </div>
            <div id="form-buttons">
                <a href="{{ url_for('index') }}"><button type="button">Cancel</button></a>
                <button type="submit">Submit</button>
            </div>
        </form>
    </section>
{% endblock %}