{% extends 'layout.html' %}

{% block content %}
        <section class="header">
            <h1>Python Developer</h1>
            <p>A short one-liner about your love of coding.</p>
            <img src="{{ url_for('static', filename='img/moi.jpg') }}" alt="Headshot of myself">
        </section>
        <section id="about">
            <h2>About Me</h2>
            <p>
            <div id="spotify-button">
                <a href="https://open.spotify.com/album/3bjYClhYKGeeK4y9QIvo7d" class="spotify" target="_blank">
                    <i class="fab fa-spotify"></i> Listen on Spotify
                </a><br>
                <i class="fas fa-music"></i>
                [Verse 1]<br>
                Remember when you ran away<br>
                And I got on my knees<br>
                And begged you not to leave because I'd go berserk?<br>
                Well, you left me anyhow<br>
                And then the days got worse and worse<br>
                And now, you see, I've gone completely out of my mind<br>
                <br>
                <i class="fas fa-music"></i>
                [Chorus]<br>
                And they're coming to take me away, ha-ha<br>
                They're coming to take me away, ho-ho, hee-hee, ha-ha<br>
                To the funny farm<br>
                Where life is beautiful all the time<br>
                And I'll be happy to see those nice young men in their clean white coats<br>
                And they're coming to take me away, ha-ha<br>
                <br>
                <i class="fas fa-music"></i>
                [Verse 2]<br>
                You thought it was a joke<br>
                And so you laughed, you laughed when I had said<br>
                That losing you would make me flip my lid<br>
                Right? You know you laughed, I heard you laugh<br>
                You laughed, you laughed and laughed and then you left<br>
                But now you know I'm utterly mad<br>
                <br>
                <i class="fas fa-music"></i>
                [Chorus]<br>
                And they're coming to take me away, ha-ha<br>
                They're coming to take me away, ho-ho, hee-hee, ha-ha<br>
                To the happy home<br>
                With trees and flowers and chirping birds<br>
                And basket weavers who sit and smile and twiddle their thumbs and toes<br>
                And they're coming to take me away, ha-ha<br>
                <br>
                <i class="fas fa-music"></i>
                [Verse 3]<br>
                I cooked your food, I cleaned your house<br>
                And this is how you pay me back<br>
                For all my kind unselfish loving deeds?<br>
                Huh? Well, you just wait, they'll find you yet<br>
                And when they do, they'll put you in<br>
                The ASPCA, you mangy mutt<br>
                <br>
                <i class="fas fa-music"></i>
                [Chorus]<br>
                And they're coming to take me away, ha-ha<br>
                They're coming to take me away, ho-ho, hee-hee, ha-ha<br>
                To the funny farm<br>
                Where life is beautiful all the time<br>
                And I'll be happy to see those nice young men in their clean white coats<br>
                And they're coming to take me away, ha-ha<br>
                To the happy home<br>
                With trees and flowers and chirping birds<br>
                And basket weavers who sit and smile and twiddle their thumbs and toes<br>
                And they're coming to take me away, ha-ha<br>
                To the funny farm<br>
                Where life is beautiful all the time<br>
                And I'll be happy to see those nice young men in their clean white coats<br>
                <i class="fas fa-music"></i>
            </p>
            <div id="triangle1"></div>
            <div id="triangle2"></div>
        </section>
        <section id="skills">
            <i class="fas fa-laptop-code"></i>
            <h2>Skills</h2>
            <ul>
                <li>Python<i class="fas fa-dragon"></i></li>
                <li>Flask</li><i class="fas fa-glass-martini"></i>
                <li>SQLAlchemy</li><i class="fas fa-database"></i>
                <li>GitHub</li><i class="fas fa-link"></i>
                <li>Visual Studio Code</li><i class="fas fa-code"></i>
            </ul>
        </section>
        <section id="projects">
            <div id="triangle3"></div>
            <i class="fas fa-file-code"></i>
            <h2>Projects</h2>
            <div id="project-list">
                <div id="project1" class="a-project">
                    <h3>Number Guessing Game</h3>
                    <a href="https://github.com/AsgothXentio/guessing_game/blob/main/Guessing_game" class="github-btn" target="_blank">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <p>
                        One of the first thigns i tried, it was fun to build. Can you guess the numbers in the least amounts of tries?
                    </p>
                    <p>
                        Skills: 
                        Making use of loops and random numbers
                    </p>
                </div>
                <div id="project2" class="a-project">
                    <h3>Phrase Hunter</h3>
                    <a href="https://github.com/AsgothXentio/phrasehunter.py" class="github-btn" target="blank">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <p>
                        A bit similiar to the number guessing game, but i still enjoyed building it. And just to be totally cliché...
                        CAN YOU GUESS THE CORRECT PHRASE?
                    </p>
                    <p>
                        Skills: Python of course and.. sometimes trying not to overthink issues.
                    </p>
                </div>
                <div id="project3" class="a-project">
                    <h3>Employee Database</h3>
                    <a href="https://github.com/AsgothXentio/employeedatabase" class="github-btn" target="blank">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <p>
                        Trying to start building my own database. After building this and trying another website, i want to see if i can make a salary calculation based on the information.
                    </p>
                    <p>
                        Skills: 
                        Little bit of datetime and csv import
                    </p>
                </div>
                <div id="project4" class="a-project">
                    <h3>Store inventory</h3>
                    <a href="https://github.com/AsgothXentio/storeinventory" class="github-btn" target="blank">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <p>
                        Just a store inventory project via Treehouse
                    </p>
                    <p>
                        Skills: Working with csv again.
                    </p>
                </div>
            </div>
            <div id="triangle4"></div>
        </section>
        <section id="contact">
            <i class="fas fa-paper-plane"></i>
            <h2>Contact Me</h2>
            <p>
                This is only if you really really want to see something constructive
            </p>
            <p>
                <a href="mailto:mennowillemse@gmail.com">
                    <i class="fas fa-envelope"></i> mennohasanemailaddresbutthisisntit@gmailorhotmail.com
                </a>
                
            </p>
            <p> If you do not want to see something constructive, please click below</p>
            <p>
                <div id="image-container">
                <p><i class="fa fa-trash"></i><a href="{{ url_for('static', filename='img/trashcan.png') }}" target="_blank">my_email@email.com</p>
                    </a>
                </div>
            </p>
        </section>

{% endblock %}