{% extends 'layout.html' %}

{% block content %}
<style>
    #skill {
        text-align: left; /* Left-align the text */
    }
</style>
<section class="header">
  <h1>{{ project.title }}</h1>
</section>
<section id="form">
    <form action="{{ url_for('delete_project', id=project.id) }}" method="POST" onsubmit="return confirmDelete();">
    <label for="title">Title</label>
    <p>{{ project.title }}</p>

    <label for="date">Date Created</label>
    <p>{{ project.created }}</p>

    <label for="description">Description</label>
    <p>{{ project.description }}</p>

    <label for="skill-list" id="skill-label">Skill</label>
    <p>{{ project.skill }}</p>

    <label for="github">GitHub Link</label>
    <p>{{ project.url }}</p>

    <div id="form-buttons" class="buttons-container">
        <section id="edit-delete">
            <a href="{{ url_for('edit', id=project.id) }}" class="edit-btn">Edit</a>
            <button type="submit" class="delete-btn">Delete</button>
        </section>
    </div>
  </form>
</section>
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this project?");
    }
</script>
{% endblock %}